<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/about.css">

</head>

<body>
    
    <div id="google_translate_element" class="trans" ></div>

    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>
    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <div class="about-section">
        <h1>About Us </h1>
        <p>bloodमित्र was started as a hackathon project but now it has become the project of savong lives. bloodमित्र
            promotes and provides a helping hand
            in blood donation.For now we have a very small team having few volunteers but the number will increase soon
            as more and more youth wanted
            to join our life saving wave.</p>
    </div>

  
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="images/1.png" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>MISSION</h2>
                    <p class="title"></p>
                    <p>Our mission is to save lives by encouraging voluntary blood donations,
                         ensuring a safe and adequate blood supply, and educating the community about the importance of blood donation.
                      <b>  Also we connect people who want to donate blood and the one who needed.</b></p>
                    
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="images/2.png" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>VISION</h2>
                    <p class="title"></p>
                    <p>A world where every eligible person is aware of the importance of regular blood donation, and every blood donation 
                        organization operates with the highest standards of safety, efficiency, and inclusivity to ensure that all patients
                         receive the life-saving blood products they need.</p>
                   
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="images/volunteer.png" alt="John" style="width:100%">
                <div class="container">
                    <h2>OUR IMPACT</h2>
                    <p class="title"></p>
                    <p>bloodमित्र saves many lives by encouraging individuals to donate blood, organizing blood drives,
                         and ensuring that donated blood is properly collected, tested, and distributed to those in need. Your donation 
                         can help save someone's life.</p>
                    
                </div>
            </div>
        </div>
    </div>
<div class="ourteam">
    <h1 style="text-align:center" >Our Team</h1>
</div>
    <div class="infocard"  >
        <div class="slide-container swiper" data-bs-slide="carousel">
            <div class="slide-content" >
                <div class="card-wrapper swiper-wrapper" data-bs-interval="1000">
                   
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="images/5.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">ATISHAY JAIN</h2>
                            <p class="description">I am a developer dedicated to create innovative solutions that make a difference and 
                                dedicated to creating innovative solutions .</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="images/9.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">NIKHIL GUPTA</h2>
                            <p class="description">I strive to deliver exceptional user experiences through cutting-edge
                                 technology and a commitment to excellence.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="images/8.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">RACHIT JAIN</h2>
                            <p class="description">I am a skilled developer, passionate about creating innovative
                                 solutions with a commitment to staying up-to-date with the latest technologies..</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="images/6.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">SUYASH RAI</h2>
                            <p class="description">I am a skilled developer who creates innovative solutions, constantly learning and staying
                                 up-to-date with the latest technologies.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="images/7.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">SHANTANU KUMAR</h2>
                            <p class="description">I am a developer with expertise in multiple languages, committed to delivering
                                 high-quality solutions and staying up-to-date with technology.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="images/4.jpeg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">JATIN GUPTA</h2>
                            <p class="description">I am a skilled developer, committed to innovative solutions and staying current with
                                 the latest technologies to exceed client expectations.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</body>

<!-- Swiper JS -->
<script src="js/swiper-bundle.min.js"></script>

<!-- JavaScript -->
<script src="js/about.js"></script>

</html>