#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

body {
        background: linear-gradient(to top, #ea7e7e 0%, #b67f7f 52%, #d59f9f 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
      
}

.head {
    color: rgb(11, 1, 1);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 5%;

}

.styled-table thead tr {
    background-color: #ce0101;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 14px 17px;
    height: 25px;
    font-size: 16px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #fbf8f8;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;

}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #f0caca;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.sosform{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.sosbtn{
    text-decoration-color: black;
    width: 180px;
    height: 45px;
    background-color: rgb(41, 75, 244);
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: x-large;

}
.sosbtn:hover{
    background-color: rgb(212, 15, 15);
}
.show tr{
	padding:16px;

}

.show {
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #ffffff;
    opacity: 0.6;
    width: 500px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}

.show table{
    width: 100%;
    border-spacing: 0 25px;
}

.show form{
    font-size: 17px;
}

.show input{
    /* border-radius: 7px; */
    width: 85%;
    height: 16px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid red;
}

.show td{
    width: 50%;
}

.det{
    font-size: 25px;
    font-weight: 800;
}

.note{
    font-weight: 700;
    font-size: 20px;
}
